<div class="home-container position-relative vh-100 overflow-hidden">

 
 <app-navbar></app-navbar>
  <!-- Background image and overlay -->
  <div class="image-background"></div>
  <div class="overlay"></div>
 
  <!-- Foreground content -->
  <div class="content content-overlay text-center">
    <h1 class="title">Find Delicious Food Near You 🍽️</h1>
    <p class="subtitle">Enter your PIN code to explore local restaurants and menus</p>
 
    <div class="search-bar d-flex justify-content-center align-items-center mx-auto">
      <input
        type="text"
        class="form-control bg-transparent text-white border-0"
        placeholder="Enter your PIN code"
        [(ngModel)]="pinCode"
      />
      <button class="btn search-btn ms-2"(click)="goToMenu()">Search</button>
    </div>
  </div>
</div>












