<div class="home-container">
  <!-- Background video -->
  <!-- <video autoplay muted loop playsinline class="bg-video">
    <source src="https://cdn.pixabay.com/video/2021/12/30/102959-661305174_tiny.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video> -->
        <!-- <video width="800" height="600" autoplay muted loop controls preload="auto" class="bg-video"  >
        <source src="../../../assets/background.mp4"
      type="video/mp4">
        </video> -->
<div class="image-background"></div>
 
  <!-- Foreground content -->
  <div class="content content-overlay">
    <h1 class="title">Find Delicious Food Near You 🍽️</h1>
    <p class="subtitle">Enter your PIN code to explore local restaurants and menus</p>
 
    <div class="search-bar">
      <input
        type="text"
        placeholder="Enter your PIN code"
       
      />
      <button (click)="searchRestaurants()">Search</button>
    </div>
  </div>
</div>