<div class="container mt-3 mb-3">
<form class="row g-2" (ngSubmit)="onSearch()">
<div class="col-md-3">
<input
       type="text"
       class="form-control"
       placeholder="Enter Pin Code"
       [(ngModel)]="pinCode"
       name="pinCode"
       
     />
</div>
<div class="col-md-2">
<input
       type="text"
       class="form-control"
       placeholder="Enter City"
       [(ngModel)]="city"
       name="city"
     />
</div>
<div class="col-md-2">
<input
       type="text"
       class="form-control"
       placeholder="Enter Food Item"
       [(ngModel)]="menuItem"
       name="menuItem"
     />
</div>
<div class="col-md-2">
<input
       type="text"
       class="form-control"
       placeholder="Enter Restaurant Name"
       [(ngModel)]="restaurant"
       name="restaurant"
     />
</div>
<div class="col-md-2">
<select class="form-select" [(ngModel)]="category" name="category">
<option value="">All Categories</option>
<option value="Beverages">Beverages</option>
<option value="Main Course">Main Course</option>
<option value="Desserts">Desserts</option>
<option value="Snacks">Snacks</option>
<option value="Salads">Salads</option>
</select>
</div>
<div class="col-md-1">
<button type="submit" class="btn w-100 text-white" style="background:#f57c00;" >Search</button>
</div>
</form>
</div>